@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
    --radius: 0.5rem;
  }

  .dark {
  }
}

body {
  /* background-color: hsl(222.2, 84%, 4.9%); */
}

.button {
  /* border: 1px solid rgba(255, 255, 255, 0.001); */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #212121;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-horizontal {
  height: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #212121;
  border-radius: 4px;
}

::-webkit-scrollbar-track:horizontal {
  background-color: #f1f1f1;
}
